.pytest_cache
__pycache__/
.DS_Store/


demo/regression/ignored*


tabularmagic/wizard/_src/io/_img_store/*
tabularmagic/wizard/_src/io/_vector_store/*
tabularmagic/wizard/_src/io/_log/*

.env


local_tests
local_tests_llm


