.pytest_cache
__pycache__/
.DS_Store/


demo/regression/ignored*


tablemage/mage/_src/io/_img_store/*
tablemage/mage/_src/io/_table_store/*
tablemage/mage/_src/io/_vector_store/*
tablemage/mage/_src/io/_log/*
tablemage/mage/_src/_debug/_debug_log.log

.env


local_tests
local_tests_llm


