llama-index==0.11.23
llama-index-experimental>=0.4.0
qdrant-client>=1.12.0
llama-index-llms-groq>=0.2.0
llama-index-llms-ollama>=0.3.6
llama-index-llms-together>=0.2.0
llama-index-vector-stores-qdrant
flask
python-dotenv
llama-index-embeddings-fastembed
fastembed
